.container {
  padding: 20px;
}

.searchContainer {
  position: relative;
}

.searchBox {
  width: 202px;
}

.typeaheadResults {
  width: 200px;
  border: 1px solid rgb(238, 238, 238);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-top: -2px;
}

.typeaheadItem {
  padding: 4px;
}

.typeaheadItem.active {
  background: #55acee;
  color: #fff;
}